logs
*.log
npm-debug.log*
.DS_Store

coverage
node_modules
build
cache

yarn_pid.txt
yarn-logs.out
nginx/nginx_pid.txt
nginx/nginx-logs.out

.idea
.env.local
.env.development.local
.env.test.local
.env.production.local